{% extends 'base.html' %}

{% block content %}
  <h2>Upload</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload file</button>
  </form>
<br><br>
  {% include 'imagelist.html' %}      
{% endblock %}

<!-- {% for image in images%}
        {% if image.Imagefile %}
            <p>Uploaded files: <a href="{{ image.Imagefile.url }}">{{ image.Imagefile.url }}</a></p>
        {% endif %}
    {% endfor %} -->